# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# JUnit
/junit/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/private/
build/
